Lab1

In [20]:
from re import I
import numpy as np
import pandas as pd


df =  pd.DataFrame(np.array([ [1000, 25],[280, 120],[900, 30] ] ), index = ["store1","store2", "store3"], columns = ["unit price", "number"] )
print(df)
print()

df["total price"] = df['number'] * df["unit price"] #알아서 연산이 되네 int를 넣어서 그런듯
print(df)
print()


max = np.max(df["total price"])
print(df[df["total price"]== max])

#

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

        unit price  number  total price
store2         280     120        33600